apiVersion: v1
kind: ConfigMap
metadata:
  name: marquez-config
  namespace: marquez
data:
  marquez.yml: |
    server:
      applicationConnectors:
        - type: http
          port: ${MARQUEZ_PORT:-5000}
          httpCompliance: RFC7230_LEGACY
      adminConnectors:
        - type: http
          port: ${MARQUEZ_ADMIN_PORT:-5001}

    db:
      driverClass: org.postgresql.Driver
      url: jdbc:postgresql://${MARQUEZ_DB_HOST:-marquez-postgres}:${MARQUEZ_DB_PORT:-5432}/${MARQUEZ_DB_NAME:-marquez}
      user: ${MARQUEZ_DB_USER:-marquez}
      password: ${MARQUEZ_DB_PASSWORD:-marquez}

    migrateOnStartup: true

    graphql:
      enabled: true

    logging:
      level: INFO
      appenders:
        - type: console

    tags:
      - name: PII
        description: Personally identifiable information
      - name: SENSITIVE
        description: Contains sensitive information
