apiVersion: v1
kind: ConfigMap
metadata:
  name: iceberg-connect-hadoop-config
  namespace: kafka
data:
  core-site.xml: |
    <?xml version="1.0" encoding="UTF-8"?>
    <configuration>
      <property>
        <name>fs.s3a.endpoint</name>
        <value>http://minio.minio.svc.cluster.local:9000</value>
      </property>
      <property>
        <name>fs.s3a.connection.ssl.enabled</name>
        <value>false</value>
      </property>
      <property>
        <name>fs.s3a.path.style.access</name>
        <value>true</value>
      </property>
      <property>
        <name>fs.s3a.access.key</name>
        <value>minioadmin</value>
      </property>
      <property>
        <name>fs.s3a.secret.key</name>
        <value>minioadmin</value>
      </property>
      <property>
        <name>fs.s3a.aws.credentials.provider</name>
        <value>org.apache.hadoop.fs.s3a.SimpleAWSCredentialsProvider</value>
      </property>
      <property>
        <name>fs.s3a.endpoint.region</name>
        <value>us-east-1</value>
      </property>
      <property>
        <name>fs.s3a.region</name>
        <value>us-east-1</value>
      </property>
    </configuration>
