apiVersion: batch/v1
kind: Job
metadata:
  name: minio-create-warehouse
  namespace: minio
spec:
  template:
    spec:
      restartPolicy: OnFailure
      containers:
      - name: mc
        image: minio/mc:latest
        command:
          - sh
          - -lc
          - |
            mc alias set local http://minio.minio.svc.cluster.local:9000 "$MINIO_ROOT_USER" "$MINIO_ROOT_PASSWORD"
            mc mb -p local/warehouse || true
        envFrom:
          - secretRef:
              name: minio-root
